In [ ]:
import pandas as pd

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [ ]:
ds = pd.Series([2, 4, 6, 8, 10])
print(type(ds))
print(ds)

<class 'pandas.core.series.Series'>
0     2
1     4
2     6
3     8
4    10
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [ ]:
series = pd.Series([2, 4, 6, 8, 10])
lista = series.tolist()
print(series)
print(type(series))
print("{} is type of {}".format(lista, type(lista)))

0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
[2, 4, 6, 8, 10] is type of <class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
serie_a = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
serie_b = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
print('Add two Series:')
print(serie_a + serie_b)
print('Subtract two Series:')
print(serie_a - serie_b)
print('Multiply two Series:')
print(serie_a * serie_b)
print('Divide two Series:')
print(serie_a / serie_b)

Add two Series:
0    11
1    11
2    11
3    11
4    11
5    11
6    11
7    11
8    11
9    11
dtype: int64
Subtract two Series:
0   -9
1   -7
2   -5
3   -3
4   -1
5    1
6    3
7    5
8    7
9    9
dtype: int64
Multiply two Series:
0    10
1    18
2    24
3    28
4    30
5    30
6    28
7    24
8    18
9    10
dtype: int64
Divide two Series:
0     0.100000
1     0.222222
2     0.375000
3     0.571429
4     0.833333
5     1.200000
6     1.750000
7     2.666667
8     4.500000
9    10.000000
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [10]:
d1 = pd.Series([2, 4, 6, 8, 10])
d2 = pd.Series([1, 3, 5, 7, 9])

In [11]:
print("Equals:")
print(d1 == d2)
print("Greater than:")
print(d1 > d2)
print("Less than:")
print(d1 < d2)

Equals:
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than:
0    True
1    True
2    True
3    True
4    True
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.
Original dictionary: {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [15]:
dictionary = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print(type(dictionary))
s1 = pd.Series(dictionary)
s1

<class 'dict'>

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series. 
NumPy array: [10 20 30 40 50]

In [19]:
import numpy as np

np_array = np.array([10, 20, 30, 40, 50])
print("NumPy array: ", np_array)

s1 = pd.Series(np_array)
print("Pandas Series: ", s1)

NumPy array:  [10 20 30 40 50]
Pandas Series:  0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series. 
Original Data Series:

0 100

1 200

2 python

3 300.12

4 400

dtype: object

In [24]:
s1 = pd.Series([100, 200, "python", 300.12, 400])
print(s1)
s2 = pd.to_numeric(s1, errors="coerce")
print(s2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [30]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
s1 = df.iloc[:,0]
print("\n1st column as a Series:")
print(s1)
print(type(s1))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9. Write a Pandas program to convert a given Series to an array

In [36]:
s1 = pd.Series(['1', '2', 'Python', '4', '5'])
print(s1)
a = np.array(s1.values.tolist())
print(a)
print(type(a))

0         1
1         2
2    Python
3         4
4         5
dtype: object
['1' '2' 'Python' '4' '5']
<class 'numpy.ndarray'>

10. Write a Pandas program to convert Series of lists to one Series.

In [39]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print(s)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object